@using NetCorePal.D3Shop.Domain.AggregatesModel.Identity.RoleAggregate
<a @onclick="ShowModal">配置权限</a>
<Modal Title="@("配置权限")"
       Visible="@_modalVisible"
       OnOk="Modal_HandleOk"
       OnCancel="() =>  _modalVisible = false"
       ConfirmLoading="@_modalConfirmLoading">

    <Tree TItem="string"
          Checkable
          DefaultCheckedKeys="_currentRolePermissions"
          @bind-CheckedKeys="_treeCheckedKeys"
          OnCheck="Tree_OnCheck">
        @foreach (var group in _allPermissions.GroupBy(p => p.GroupName))
        {
            <TreeNode Title="@group.Key" Key="@group.Key">
                @foreach (var permission in group)
                {
                    <TreeNode Title="@permission.Remark" Key="@permission.Code"/>
                }
            </TreeNode>
        }
    </Tree>
</Modal>

@code {
    [CascadingParameter] public RoleResponse Row { get; set; } = default!;
    [Inject] private IRolesService RolesService { get; set; } = default!;
    [Inject] private IPermissionsService PermissionsService { get; set; } = default!;

    [Inject] private MessageService Message { get; set; } = default!;
    private string[] _treeCheckedKeys = [];
    private List<Permission> _allPermissions = [];
    private string[] _currentRolePermissions = [];
    private List<string> _checkedPermission = [];

    private bool _modalVisible;
    private bool _modalConfirmLoading;

    private async Task ShowModal()
    {
        _modalVisible = true;
        _allPermissions = await GetAllPermissions();
        _currentRolePermissions = await GetRolePermissions(Row.Id);
    }

    private async Task<List<Permission>> GetAllPermissions()
    {
        var response = await PermissionsService.GetAll();
        if (response.Success) return response.Data.ToList();
        _ = Message.Error(response.Message);
        return [];
    }

    private async Task<string[]> GetRolePermissions(RoleId id)
    {
        var response = await RolesService.GetRolePermissions(id);
        if (response.Success) return response.Data.ToArray();
        _ = Message.Error(response.Message);
        return [];
    }

    private void Tree_OnCheck(TreeEventArgs<string> e)
    {
        _checkedPermission = _allPermissions
            .Where(p => _treeCheckedKeys.Contains(p.Code))
            .Select(p => p.Code).ToList();
    }

    private async Task Modal_HandleOk()
    {
        _modalConfirmLoading = true;
        StateHasChanged();
        var response = await RolesService.UpdateRolePermissions(Row.Id, _checkedPermission);
        _modalConfirmLoading = false;
        if (response.Success)
        {
            _modalVisible = false;
            _ = Message.Success("更新成功！");
        }
        else
        {
            _ = Message.Error(response.Message);
        }
    }

}