@using NetCorePal.D3Shop.Domain.AggregatesModel.Identity.AdminUserAggregate
<a @onclick="ShowModal">配置权限</a>
<Modal Title="@("配置权限")"
       Visible="@_modalVisible"
       OnOk="Modal_HandleOk"
       OnCancel="() =>  _modalVisible = false"
       ConfirmLoading="@_modalConfirmLoading">

    <Tree TItem="string"
          Checkable
          @bind-CheckedKeys="_treeCheckedKeys">
        @foreach (var group in _allPermissions.GroupBy(p => p.GroupName))
        {
            <TreeNode Title="@group.Key" Key="@group.Key">
                @foreach (var permission in group)
                {
                    var assigned = _currentAssignedPermissions.FirstOrDefault(p => p.Code == permission.Code);
                    var isDisableCheckBox = assigned?.IsFromRole is true;
                    <TreeNode Title="@permission.Remark" Key="@permission.Code" Checked="@(assigned is not null)"
                              DisableCheckbox="isDisableCheckBox"/>
                }
            </TreeNode>
        }
    </Tree>
</Modal>

@code {
    [CascadingParameter] public AdminUserResponse Row { get; set; } = default!;
    [Inject] private IAdminUserService AdminUserService { get; set; } = default!;
    [Inject] private IPermissionsService PermissionsService { get; set; } = default!;

    [Inject] private MessageService Message { get; set; } = default!;
    private string[] _treeCheckedKeys = [];
    private List<Permission> _allPermissions = [];
    private AdminUserPermissionResponse[] _currentAssignedPermissions = [];

    private bool _modalVisible;
    private bool _modalConfirmLoading;

    private async Task ShowModal()
    {
        _modalVisible = true;
        _allPermissions = await GetAllPermissions();
        _currentAssignedPermissions = await GetAssignedPermissions(Row.Id);
    }

    private async Task<List<Permission>> GetAllPermissions()
    {
        var response = await PermissionsService.GetAll();
        if (response.Success) return response.Data.ToList();
        _ = Message.Error(response.Message);
        return [];
    }

    private async Task<AdminUserPermissionResponse[]> GetAssignedPermissions(AdminUserId id)
    {
        var response = await AdminUserService.GetAssignedPermissions(id);
        if (response.Success) return response.Data.ToArray();
        _ = Message.Error(response.Message);
        return [];
    }

    private async Task Modal_HandleOk()
    {
        _modalConfirmLoading = true;
        StateHasChanged();
        var permissions = _treeCheckedKeys.Except(
            _currentAssignedPermissions.Where(p => p.IsFromRole).Select(p => p.Code));
        var response = await AdminUserService.SetAdminUserSpecificPermissions(Row.Id, permissions);
        _modalConfirmLoading = false;
        if (response.Success)
        {
            _modalVisible = false;
            _ = Message.Success("更新成功！");
        }
        else
        {
            _ = Message.Error(response.Message);
        }
    }

}